{% extends "package/read.html" %}

{%- set schema = h.scheming_get_dataset_schema(dataset_type) -%}

{%- set activity_stream = h.get_package_activity_stream(pkg.id) -%}

{% block package_notes %}
  {%- if not dataset_type -%}
    <p>
    dataset_type not passed to template. your version of CKAN
    might not be compatible with ckanext-scheming
    </p>
  {%- endif -%}
  {% if pkg.description %}
  <div class="description embedded-content">
    {{ h.render_markdown(pkg.description) }}
  </div>    
  {% elif (h.scheming_field_by_name(schema.dataset_fields, 'notes') or
    h.scheming_field_by_name(schema.dataset_fields, 'notes_translated')) and
    pkg.notes%}
    <div class="notes embedded-content">
      {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
    </div>
  {% endif %}
{% endblock %}

{% block package_additional_info %}
  <h3>Pipeline Status</h3>
  <div class="status-info">
    <span class="stages-view" data-module="productops-render_stages"
          data-module-id="{{pkg.id}}">
      {{h.productops_empty_ingest_stages()}}
    </span>
    <span class="status-stream" data-module="productops-render_activities"
          data-module-id="{{pkg.id}}">
      {% snippet 'snippets/activity_stream.html', activity_stream=activity_stream, id=pkg.id, object_type='package' %}
    </span>
  </div>
  {% snippet "scheming/package/snippets/additional_info.html",
  pkg_dict=pkg, dataset_type=dataset_type, schema=schema %}
    {# <span class="metadata" data-module="compass_theme-metadata"
        data-module-id="{{pkg.id}}">
        <h3>{{ _('Metadata') }}</h3>
        <table class="table table-striped table-bordered table-condensed">
          <tbody>
            <tr>
              <th scope="row" class="dataset-label">{{ _("No Ingested Data Activity") }}</th>
            </tr>
          </tbody>
        </table>
    </span> #}
{% endblock %}
